### 함수 만들기

In [1]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [2]:
print_numbers(10,20,30)

10
20
30

### 언패킹 사용하기

- 함수(*리스트)
- 함수(*튜플)
- 기존에 만들어 놓은 함수의 매개변수와 리스트의 길이가 같아야 함

In [3]:
x = [10,20,30]
print_numbers(*x)

10
20
30

In [5]:
x = [10,20]
print_numbers(*x)      # 길이가 달라서 에러 발생

TypeError: print_numbers() missing 1 required positional argument: 'c'

### 가변인수 함수 만들기

def 함수이름(*매개변수):
    
    코드

In [6]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [7]:
print_numbers(10)

10

In [8]:
print_numbers(10,20,30,40)

10
20
30
40

In [9]:
x = [10]
print_numbers(*x)

10

In [10]:
x = [10,20,30,40]
print_numbers(*x)

10
20
30
40

#### 고정인수와 가변 인수 함께 사용

In [14]:
def print_numbers(a, *args):
    print(a)
    print(args)

In [15]:
print_numbers(1)

1
()

In [16]:
print_numbers(1,10,20)

1
(10, 20)

In [17]:
x = [10,20,30]
print_numbers(*x)

10
(20, 30)

### 키워드 인수 사용

In [18]:
def personal_info(name, age, address):
    print("이름:",name)
    print("나이:",age)
    print("주소:",address)

In [19]:
personal_info("홍길동",20,"대구시 동구 신암동")

이름: 홍길동
나이: 20
주소: 대구시 동구 신암동

In [23]:
personal_info(name="홍길동",age=20,address="대구시 동구 신암동")

이름: 홍길동
나이: 20
주소: 대구시 동구 신암동

#### keyword의 위치를 바꿔도 결과가 바뀌지 않음

In [22]:
personal_info(age=20,address="대구시 동구 신암동",name="홍길동")

이름: 홍길동
나이: 20
주소: 대구시 동구 신암동

### 딕셔너리 사용하기

- 함수(**딕셔너리)
- 함수의 매개변수의 이름과 딕셔너리의 키값이 같아야 함
- 함수의 매개변수 개수와 딕셔너리의 길이가 같아야 함

In [24]:
def personal_info(name, age, address):
    print("이름:",name)
    print("나이:",age)
    print("주소:",address)

In [26]:
person = {'name':"홍길동",'age':20,'address':"대구시 동구 신암동"}
personal_info(**person)

이름: 홍길동
나이: 20
주소: 대구시 동구 신암동

In [28]:
personal_info(**{'name':"홍길동",'age':20,'address':"대구시 동구 신암동"})

이름: 홍길동
나이: 20
주소: 대구시 동구 신암동

In [29]:
personal_info(**{'name':"홍길동",'old':20,'address':"대구시 동구 신암동"})

TypeError: personal_info() got an unexpected keyword argument 'old'

In [30]:
personal_info(**{'name':"홍길동",'address':"대구시 동구 신암동"})

TypeError: personal_info() missing 1 required positional argument: 'age'

####  키워드를 사용하는 매개변수
def 함수이름(**매개변수):

    코드

In [36]:
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, " : ",arg, sep='')

In [37]:
personal_info(name='홍길동')

name : 홍길동

In [38]:
personal_info(name='홍길동', age=20, address='대구시 동구 신암동')

name : 홍길동
age : 20
address : 대구시 동구 신암동

In [39]:
x = {'name':"홍길동",'old':20,'address':"대구시 동구 신암동"}
personal_info(**x)

name : 홍길동
old : 20
address : 대구시 동구 신암동

### 매개변수에 초기값 지정

In [40]:
def personal_info(name, age, address='비공개'):
    print("이름:",name)
    print("나이:",age)
    print("주소:",address)

In [41]:
personal_info('홍길동',20)

이름: 홍길동
나이: 20
주소: 비공개

In [42]:
def personal_info(name, age=0, address='비공개'):
    print("이름:",name)
    print("나이:",age)
    print("주소:",address)

In [43]:
personal_info('홍길동')

이름: 홍길동
나이: 0
주소: 비공개

In [44]:
def personal_info(name='비공개', age=0, address='비공개'):
    print("이름:",name)
    print("나이:",age)
    print("주소:",address)

In [45]:
personal_info()

이름: 비공개
나이: 0
주소: 비공개

In [46]:
personal_info(age=20)

이름: 비공개
나이: 20
주소: 비공개