### 출력방법

- print() 함수 사용
- print(값)
- print(값1, 값2, 값3, ... )

In [9]:
print(1) # 정수
print("Hello python") # 문자열
print(3.65) # 실수

1
Hello python
3.65

In [10]:
print(1,2,3)
print("Hello", "Python")

1 2 3
Hello Python

 - 변수 사용

In [8]:
a = 100
b = 50
print(a)
print(a,b)

100
100 50

- sep로 값사이에 문자를 넣기

print(값1, 값2, sep='문자 또는 문자열')

print(변수1, 변수2, sep='문자 또는 문자열')

In [15]:
print(1,2,3)
print(1,2,3, sep=',') # sep에 콤마(,)로 공백 지정
print(1,2,3, sep=', ') # sep에 콤마(,)+공백 지정

1 2 3
1,2,3
1, 2, 3

In [16]:
print('Hello', 'Python')
print("Hello", "Python", sep='') # sep로 공백을 빈공백('')으로 지정

Hello Python
HelloPython

In [17]:
print(3840,2160, sep='x') # sep로 'x' 지정

3840x2160

In [18]:
print(1,2,3, sep='\n') # 줄바꿈 활용

1
2
3

- Python에서 print() 함수는 줄을 바꾸는 기능을 가지고 있음

In [19]:
print(1)      # 1을 출력하고 줄을 바꿔서 그다음 줄 시작위치에 커서가 오도록 함
print(2)
print(3)

1
2
3

In [20]:
print("Hello python\n")
print("Hello python")

Hello python

Hello python

In [21]:
print(1, end='')      
print(2, end='')
print(3)

123

In [23]:
print("%d %d"%(1,2)) #정수형
print("%f %f"%(1.1,2.2)) #실수형
print("%.1f %.1f"%(1.1,2.2)) #실수형(소수점 6자리)
print("%s %s"%("hello","python")) #문자형

1 2
1.100000 2.200000
1.1 2.2
hello python

In [26]:
range(10) # 0 ~ 9

range(0, 10)

In [27]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
b = list(range(5,12))
print(b)

[5, 6, 7, 8, 9, 10, 11]

In [29]:
c = list(range(1,10,2))
print(c)

[1, 3, 5, 7, 9]

In [30]:
d = list(range(10,0,-1))
print(d)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]