## 변수
- 한번에 여러 변수 만들기

In [28]:
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

10
20
30

- 변수와 값의 개수가 다르면 에러 발생

In [29]:
x, y, z = 10, 20

ValueError: not enough values to unpack (expected 3, got 2)

- 모든 변수의 값이 같아도 됨

In [32]:
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

 - x,y 값을 서로 맞바꾸는 것도 가능

In [39]:
x, y = 10, 20
print(x,y)
x, y = y, x
print(x,y)

10 20
20 10

 - 변수 삭제하기 : del(변수)

In [42]:
x = 10
del(x)
print(x)

NameError: name 'x' is not defined

### 빈변수 만들기

- None 사용

In [43]:
x = None
print(x)

None

### 산술연산 후 할당 연산자 사용( + )

In [44]:
x = 10
x = x + 20
print(x)

30

In [45]:
x = 10
x += 20
print(x)

30

### 산술연산 후 할당 연산자 사용( - )

In [46]:
x = 20 
x = x - 10
print(x)

10

In [47]:
x = 20 
x -= 10
print(x)

10

### 산술연산 후 할당 연산자 사용( * )

In [48]:
x = 10 
x = x * 3
print(x)

30

In [50]:
x = 10
x *= 3
print(x)

30

### 나머지 연산자 적용

In [55]:
x = 20; x = x/4
print(x)
x = 20; x /= 4
print(x)

x = 20; x = x//6
print(x)
x = 20; x //= 6
print(x)

x = 20; x = x%6
print(x)
x = 20; x %= 6
print(x)

5.0
5.0
3
3
2
2

### 실수 계산하기

In [1]:
3.5 * 2.1

7.3500000000000005

In [3]:
4.3 * 2.7

11.61

In [4]:
4.3 - 2.7

1.5999999999999996

### 값을 실수로 바꾸기

- float(숫자)
- float(계산식)
- float('문자열')

In [5]:
float(3)

3.0

In [6]:
float(1+2)

3.0

In [7]:
print(float(1+2))

3.0

In [11]:
d = '3.5467'
print(float(d), type(float(d)))

3.5467 <class 'float'>

## 정수와 실수를 더하면 자료형은 실수

In [12]:
a = 1
b = 1.5
c = a+b
print(c, type(c))

2.5 <class 'float'>

## 괄호 사용

In [13]:
35 + 1 * 2

37

In [14]:
35 + (1 * 2)

37

In [15]:
(35 + 1) * 2

72

## 문제풀기

- 국립 환경과학원에서는 아파트에서 소음이 가장 심한 층수를 구하는 계산식을 발표하였습니다. 소음이 가장 심한 층은 0.2467 * 도로와의 거리(m) + 4.159입니다. 소음이 가장 심한 층수가 출력되게 만드세요. 단, 층수를 출력할 때는 소수점 이하 자리는 버립니다.(정수로 출력)

- 도로와의 거리는 12m 입니다.

In [16]:
dist = 12
print(int( 0.2467 * dist + 4.159))

7

## 문자열 연산

In [17]:
head = "Python"
tail = " is fun!"
print(head + tail)

Python is fun!

In [18]:
print(head+head)

PythonPython

In [19]:
a = '10'
b = '20'
print(a+b)

1020

In [20]:
print(int(a)+int(b))

30

In [21]:
print(head*3)

PythonPythonPython

In [22]:
star = '*'
print(star*30)

******************************

In [23]:
print('=' * 30)
print("My program")
print('=' * 30)

==============================
My program
==============================

## 문자열 길이구하기

- len(문자열)

In [24]:
a = "Life is too short!!!"
print(len(a))

20

### INPUT함수 사용

- input() 함수를 사용하면 결과가 String으로 나옴

In [1]:
a = input("1번째 정수를 입력하세요 ")
b = input("2번째 정수를 입력하세요 ")
print(a+b)
print(type(a), type(b))

1번째 정수를 입력하세요 5
2번째 정수를 입력하세요 6
56
<class 'str'> <class 'str'>

In [3]:
a, b = input("정수 2개를 입력하세요 ").split() # 공백을 기준으로 나눔
print(a+b)
print(type(a), type(b))

정수 2개를 입력하세요 5 7
57
<class 'str'> <class 'str'>

In [4]:
a, b = input("문자열 2개를 입력하세요 ").split() # 공백을 기준으로 나눔
print(a+b)
print(type(a), type(b))

문자열 2개를 입력하세요 Hello python
Hellopython
<class 'str'> <class 'str'>

In [5]:
a = input("1번째 정수를 입력하세요 ")
b = input("2번째 정수를 입력하세요 ")

a = int(a)
b = int(b)

print(a+b)
print(type(a), type(b))

1번째 정수를 입력하세요 5
2번째 정수를 입력하세요 7
12
<class 'int'> <class 'int'>

In [6]:
a, b = input("정수 2개를 입력하세요 ").split() # 공백을 기준으로 나눔
a = int(a)
b = int(b)
print(a+b)
print(type(a), type(b))

정수 2개를 입력하세요 7 8
15
<class 'int'> <class 'int'>

In [7]:
a, b = input("정수 2개를 입력하세요 ").split(',') # 문자','기준으로 문자열 나눔
a = int(a)
b = int(b)
print(a+b)
print(type(a), type(b))

정수 2개를 입력하세요 5,6
11
<class 'int'> <class 'int'>

In [8]:
a, b = map(int, input("정수 2개를 입력하세요 ").split())
print(a+b)

정수 2개를 입력하세요 7 8
15

In [9]:
a, b = map(int, input("정수 2개를 입력하세요 ").split(','))
print(a+b)

정수 2개를 입력하세요 5,9
14

### 실습문제
- 숫자 3개를 입력받아서 입력받은 숫자의 합, 곱을 구하세요

In [11]:
a, b, c = map(int, input("정수 3개를 입력하세요 ").split())
print(a+b+c)
print(a*b*c)

정수 3개를 입력하세요 1 3 5
9
15

In [12]:
a, b, c = input("정수 3개를 입력하세요 ").split()
a = int(a)
b = int(b)
c = int(c)
print(a+b+c)
print(a*b*c)

정수 3개를 입력하세요 1 3 5
9
15

### 실습 문제
- 국어, 영어, 수학, 과학 점수를 입력받아서(input에서 안내문자는 출력하지 않음) 평균점수를 출력하는 프로그램을 만드세요. 단, 평균점수를 출력할 때 소수점 이하 자리는 버립니다.

In [14]:
kor, eng, mat, sci = map(int,input().split())
print(int((kor+eng+mat+sci)/4))

90 90 90 90
90